In [68]:
import pandas as pd
import numpy as np
import matplotlib as plt
import itertools

In [69]:
df = pd.read_csv('vehicles.csv')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [71]:
df10 = df[['description', 'model', 'manufacturer']]

In [72]:
df10 = df10.dropna()

In [73]:
df10

,description,model,manufacturer
27,Carvana is the safer way to buy a car During t...,sierra 1500 crew cab slt,gmc
28,Carvana is the safer way to buy a car During t...,silverado 1500,chevrolet
29,Carvana is the safer way to buy a car During t...,silverado 1500 crew,chevrolet
30,Carvana is the safer way to buy a car During t...,tundra double cab sr,toyota
31,2013 F-150 XLT V6 4 Door. Good condition. Leve...,f-150 xlt,ford
...,...,...,...
426875,Carvana is the safer way to buy a car During t...,maxima s sedan 4d,nissan
426876,Carvana is the safer way to buy a car During t...,s60 t5 momentum sedan 4d,volvo
426877,Carvana is the safer way to buy a car During t...,xt4 sport suv 4d,cadillac
426878,Carvana is the safer way to buy a car During t...,es 350 sedan 4d,lexus
426879,Carvana is the safer way to buy a car During t...,4 series 430i gran coupe,bmw

In [74]:
manu = df[['manufacturer']]

In [75]:
manu = manu.dropna()

In [76]:
#manu.nunique()
manu_list = manu.manufacturer.unique()

In [77]:
manu_list = set(manu_list)

In [78]:
type(manu_list)

set

In [79]:
manu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 409234 entries, 27 to 426879
Data columns (total 1 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   manufacturer  409234 non-null  object
dtypes: object(1)
memory usage: 6.2+ MB

In [80]:
def word_finder(x):
  df_words = set(x.split(' '))
  extract_words =  manu_list.intersection(df_words)
  return ', '.join(extract_words)

'''
df = pd.DataFrame(data = {'text' : ['hello you person', 'you have a dog', 'the bird flew', 'the horse is here', 'bird bird bird', 'dog and cat']})

word_set = {'dog', 'cat', 'horse', 'bird'}

df['extract'] = df.text.apply(word_finder)
'''

"\ndf = pd.DataFrame(data = {'text' : ['hello you person', 'you have a dog', 'the bird flew', 'the horse is here', 'bird bird bird', 'dog and cat']})\n\nword_set = {'dog', 'cat', 'horse', 'bird'}\n\ndf['extract'] = df.text.apply(word_finder)\n"

In [81]:
df10['extract'] = df10.description.apply(word_finder)

In [90]:
#comparison_column = np.where(df10['manufacturer'] == df10['manufacturer'], True, False)
df10['equal1'] = (df10['manufacturer'] == df10['extract'])

In [86]:
df10 = df10.sort_values(by=['extract'])
df10.eq

,description,model,manufacturer,extract,equal
321129,91 volvo wagon 5 speed manual drives and runs ...,240 wagon,volvo,volvo,True
90351,clean volvo ! no issues what so ever ! great ...,s60,volvo,volvo,True
268352,81 volvo 240 DL..The only thing that will surv...,240 dl,volvo,volvo,True
52918,Hi everyone iam selling my volvo it runs and d...,240 wagon,volvo,volvo,True
225436,02 XC70. Doors on passenger side are damaged o...,xc70,volvo,volvo,True
366976,volvo engine 10 speed 455k miles Great truck,670,volvo,volvo,True
279563,"For sale 2006 Volvo VNL 780 1,350,000 Miles F...",vnl780,volvo,volvo,True
240536,"Local trade in, very healthy running Black 200...",benz c230,mercedes-benz,volvo,True
370860,2016 Volvo VNL 670 premium Sleeper * Cummins ...,vnl 670,volvo,volvo,True
279110,2015 volvo v60 t5 cross country platinum! This...,v60 cross country t5,volvo,volvo,True
320181,Carz Planet¬† ¬†¬†¬†¬†¬†¬†¬†STOCK #:¬†¬†7066 ¬† üí≤ üí≤ FOR...,outback 2.5i limited na,subaru,volvo,True
320483,Carz Planet¬† ¬†¬†¬†¬†¬†¬†¬†STOCK #:¬†¬†7066 ¬† üí≤ üí≤ FOR...,outback 2.5i limited na,subaru,volvo,True
240172,"Tough to find, very healthy running Ruby Red 2...",outback,subaru,volvo,True
123524,I am selling a super clean 2011 volvo xc90 3.2...,xc90 3.2,volvo,volvo,True
112855,2016 Volvo VNL 670 premium Sleeper * Cummins ...,vnl 670,volvo,volvo,True
327324,2001 volvo t5 s60 t5 manual 5spd....silver bla...,s60,volvo,volvo,True
379706,For sale 2010 volvo vnl with cummins isx. Orig...,vnl 670,volvo,volvo,True
292862,"selling my volvo vnl 2004 only 1,000,450 mile....",vnl,volvo,volvo,True
226547,2016 Volvo XC90 T6 R Design AWD **Clean Carfax...,xc90 t6 r design awd gas,volvo,volvo,True
255168,"Good car, too many cars and projects, looking ...",v70 xc awd,volvo,volvo,True
334951,2006 volvo suv well cared for suv in great con...,xc90,volvo,volvo,True
365002,Volvo is known for being one of the safest car...,s40,volvo,volvo,True
54624,"1991 volvo wagon. Gold color, 4 cyl.,clean lea...",wagon 240,volvo,volvo,True
293589,"nice volvo s40 sunroof, leather seats no mecha...",s40,volvo,volvo,True
280244,2015 volvo v60 t5 cross country platinum! This...,v60 cross country t5,volvo,volvo,True
305382,2016 volvo like new,vnl64t780,volvo,volvo,True
313381,Carz Planet¬† ¬†¬†¬†¬†¬†¬†¬†STOCK #:¬†¬†7066 ¬† üí≤ üí≤ FOR...,outback 2.5i limited na,subaru,volvo,True
363557,"2004 volvo S 60 150,001 miles.Body is in good ...",s 60,volvo,volvo,True
35275,"2000 volvo s70 se ,,, just 164k original mile ...",s70 se,volvo,volvo,True
40488,Available Today 04/24/21 üîë In Stock Now: 2013 ...,rio lx hatchback,kia,"volvo, honda, acura",True
53038,Available Today 05/04/21 üîë In Stock Now: 2006 ...,"sentra ""special edition""",nissan,"volvo, honda, acura",True
40489,Available Today 04/19/21 üîë In Stock Now: 1999 ...,cr-v,honda,"volvo, honda, acura",True
408609,2005 Chrysler 300 3.5L ... CLEAN TITLE .... ...,300,chrysler,"volvo, honda, bmw, volkswagen",True
64311,2017 SUBARU FORESTER AWD IN EXCELLENT CONDITI...,forester awd,subaru,"volvo, jeep",True
24492,2017 SUBARU FORESTER AWD 1 OWNER IN EXCELLEN...,forester awd,subaru,"volvo, jeep",True
63534,2017 SUBARU OUTBACK TOURING AWD LOOKS BRAND N...,outback touring awd,subaru,"volvo, jeep",True
23812,2017 SUBARU OUTBACK TOURING AWD 1 OWNER LOW ...,outback touring awd,subaru,"volvo, jeep",True
24664,2019 SUBARU CROSSTREK AWD 1 OWNER LOW 42k MI...,crosstrek premium,subaru,"volvo, jeep",True
65216,1 OWNER 2016 SUBARU FORESTER AWD IN EXCELLEN...,forester awd,subaru,"volvo, jeep",True
37693,2013 VOLVO XC90 R-DESIGN FWD 7 PASSENGER SUV ...,xc90 r-design fwd,volvo,"volvo, jeep",True
39322,2017 SUBARU OUTBACK TOURING AWD 1 OWNER SMOG...,outback touring,subaru,"volvo, jeep",True
39441,2006 VOLVO XC90 ~ 4WD ~ 2.5T ~ SUV 7 PASSENG...,xc90 2.5t 4wd,volvo,"volvo, jeep",True
23857,"2018 SUBARU CROSSTREK LIMITED AWD RELIABLE, S...",crosstrek limited,subaru,"volvo, jeep",True
39497,2016 SUBARU FORESTER AWD 1 OWNER IN EXCELLEN...,forester awd,subaru,"volvo, jeep",True
37945,"2018 SUBARU CROSSTREK LIMITED AWD RELIABLE, S...",crosstrek limited awd,subaru,"volvo, jeep",True
36988,2017 SUBARU FORESTER AWD IN EXCELLENT CONDITI...,forester awd,subaru,"volvo, jeep",True
24833,2016 SUBARU FORESTER AWD IN EXCELLENT CONDITI...,forester awd,subaru,"volvo, jeep",True
60694,2016 SUBARU FORESTER AWD 1 OWNER IN EXCELLEN...,forester awd,subaru,"volvo, jeep",True
65707,"2018 SUBARU CROSSTREK LIMITED AWD RELIABLE, S...",crosstrek limited,subaru,"volvo, jeep",True
370223,Up for Grabs is this beautiful flagship Volksw...,arteon,volkswagen,"volvo, volkswagen",True

In [94]:
df10.equal1.value_counts()

False    394360
True       9664
Name: equal1, dtype: int64

In [98]:
df10.extract = df10.extract.str.replace(' ', '')

In [103]:
df10['extract'].replace('', np.nan, inplace=True)

In [104]:
df10['extract'].isnull().sum()

378606

In [105]:
df10 = df10.dropna()
df10['extract'].isnull().sum()

0

In [107]:
df10.equal1.value_counts()

False    15754
True      9664
Name: equal1, dtype: int64

In [106]:
df10.sample(50)

,description,model,manufacturer,extract,equal,equal1
138699,2017 Toyota Tacoma SR 4x4 **Clean Carfax One O...,tacoma sr 4x4 quarter ton,toyota,toyota,True,True
309953,2016 Ford Transit Cutaway T-250 ENCLOSED UTILI...,transit cutaway,ford,"chevrolet,dodge,ford,gmc",True,False
411943,2017 Toyota Tundra 1794 Platinum 4x4 **Two Own...,tundra 1794 platinum 4x4,toyota,toyota,True,True
391301,2011 Ford F250 Super Duty Crew Cab King Ranch ...,f250 super duty crew cab,ford,"lexus,audi",True,False
405953,2020 Hyundai Tucson SE AWD **Clean Carfax One ...,tucson se awd gas suv,hyundai,hyundai,True,True
44663,4.0l vvti 2WD AUTOMATIC 4DOOR LONG BED hard to...,tacoma prerunner,toyota,ram,True,False
406175,2018 Ford F150 XLT XTR 4x4 **Clean Carfax 4x4 ...,f150 xlt xtr 4x4 1/2 ton,ford,ford,True,True
315226,2020 Ford F150 XLT 4x4 **Clean Carfax One Owne...,f150 xlt 4x4 1/2 ton gas,ford,ford,True,True
380978,WE FINANCE! $2000 DOWN CALL or TEXT David at...,f-150 xlt supercrew,ford,ford,True,True
57580,2005 gmc savanna 215k Very strong reliable van...,savana 2500,gmc,gmc,True,True
390326,2013 Hyundai Elantra GLS 4dr Sedan 6A Offe...,elantra,hyundai,toyota,True,False
252149,Cleaning out my shop parking lot. All cars are...,accord,honda,"toyota,nissan,honda,acura",True,False
395802,"2001 GMC SIERRA 2500HD DURAMAX TURBO DIESEL, A...",sierra 2500,gmc,gmc,True,True
83250,2008 audi tt convertible 2.0 t In good conditi...,tt,audi,audi,True,True
70067,2012 Ford F-150_ F150_ f150_ F¬†150_ 2WD Reg Ca...,f-150,ford,"cadillac,volkswagen,porsche,infiniti,jeep,bmw,...",True,False
265127,"2017 Mitsubishi Fuso FE160 16 FOOT BOX TRUCK, ...",fuso fe160,mitsubishi,"chevrolet,dodge,ford,gmc",True,False
77356,Up for sale is a super clean 2008 Toyota Tundr...,tundra double cab sr5,toyota,"rover,ram,jeep",True,False
182341,2011 nissan versa md insp runs good great car ...,versa,nissan,nissan,True,True
242067,"2008 Ford Econoline Cargo Van E-350 CARGO, BUC...",econoline cargo van,ford,"chevrolet,dodge,ford,gmc",True,False
314911,"2003 saturn ion, little rattle in the exhaust,...",ion,saturn,saturn,True,True
202382,2012 Ford Super Duty F-250 SRW REG CAB 4X4 UTI...,super duty f-250 srw,ford,"chevrolet,dodge,ford,gmc",True,False
133494,This is a one of a kind nissan versa note. It ...,versa,nissan,nissan,True,True
229686,2018 Toyota Tacoma TRD Sport 4x4 **One Owner C...,tacoma trd sport 4x4 gas,toyota,toyota,True,True
343900,"CRAIGS LIST üëâ LEASES FROM $89 üëâ BAD Credit,...",taurus,ford,dodge,True,False
33079,üòç We are very pleased to offer for sale this O...,civic si,honda,"toyota,ford,honda",True,False
263728,Drive it home today. Call (Or Text) us now !!C...,evoque,rover,rover,True,True
32172,Coachella Valley Volkswagen¬†¬†¬†¬†¬†¬†¬†¬†STOCK #:¬†¬†P...,jetta,volkswagen,"toyota,ford,honda",True,False
92475,35 VEHICLES PRICED UNDER $3000!!! BIG TIME! T...,camry,toyota,honda,True,False
392469,Terry of South Boston You'll Love Our Cars! Ca...,taurus,ford,bmw,True,False
423,** 2017 RAM 1500 PRO MASTER * CARGO VAN ** **...,promaster 1500 cargo van,ram,"dodge,ram",True,False
43490,Coachella Valley Volkswagen¬†¬†¬†¬†¬†¬†¬†¬†STOCK #:¬†¬†R...,2500,ram,"toyota,ford,honda",True,False
235130,2016 Ford Transit Cargo Vans Work Van High Roo...,transit cargo,ford,ford,True,True
803,"2015 Ford Super Duty F-550 DRW SUPER CAB 4X4, ...",super duty f-550 drw,ford,"chevrolet,dodge,ford,gmc",True,False
3270,** 2012 FOR E350 COMMERCIAL BOX VAN ** ** CL...,econoline commercial,ford,ford,True,True
12022,East County Pre-Owned Superstore provides a 10...,silverado 1500,chevrolet,"toyota,ford",True,False
404084,2016 Nissan Titan XD Pro-4X 4x4 **One Owner Cl...,lifted titan diesels xd,nissan,nissan,True,True
52574,2012 *** FIAT 500 Sport 2dr Hatchback Hatchbac...,500,fiat,"mazda,mini,rover,ford,bmw,fiat,volkswagen,lexu...",True,False
315046,UP FOR GRABS IS A SUPER HARD TO FIND IN THIS S...,vibe 1.8l 1-owner* only 87k miles* no accident...,pontiac,toyota,True,False
157633,2006 Chevrolet Express Cargo Van 3500 EXTENDED...,express cargo van,chevrolet,"chevrolet,dodge,ford,gmc",True,False
385707,2019 Ford Escape SEL 4x4 **Clean Carfax One Ow...,escape sel 4x4 gas suv auto,ford,ford,True,True
409385,2020 Dodge Ram 2500 Bighorn 4x4 **Clean Carfax...,cummin 2500 bighorn,ram,"dodge,ram",True,False
213034,2006 ram mega cab NEEDS MOTOR 5.7 GAS HEMI ...,2500 mega cab,ram,ram,True,True
160545,"Bennington Auto Sales ""Quality Vehicles with H...",edge sel awd,ford,"dodge,ram",True,False
425264,"2008 honda ridgeline RTL Pickup, 5 ft bed. 4 d...",ridgeline rtl,honda,honda,True,True
229972,2007 GMC Yukon SLT2 4WD V8 Year: ¬†2007 Mak...,yukon slt2 4wd v8,gmc,lincoln,True,False
132801,2017 Kia Rio LX Sedan 4D Offered by: Auto ...,rio,kia,"cadillac,volkswagen,porsche,infiniti,jeep,bmw,...",True,False
351373,Hello I am selling my dodge dart. I am the sec...,dart sxt,dodge,dodge,True,True
126454,** 2017 FORD SD F350 * CREW CAB * FLAT BED * D...,f350 super duty,ford,ford,True,True
229966,2011 Toyota Tacoma Access Cab 4WD SR5 Year:...,tacoma access cab 4wd sr5,toyota,lincoln,True,False
78498,Peak Kia North address: 1111 Southgate Dr W...,escape,ford,mini,True,False

In [ ]:
df = pd.DataFrame({'id':manu_list,'text':l2})
df['description'] = df['description'].str.lower()

print(df[df['description'].str.startswith(tuple(searchwords))] )

In [12]:
set(itertools.chain.from_iterable(manu.manufacturer))

TypeError: 'float' object is not iterable

In [7]:
df2 = df[['description']]

In [9]:
#using NLTK library, we can do lot of text preprocesing
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
#function to split text into word
tokens = word_tokenize("The quick brown fox jumps over the lazy dog")
nltk.download('stopwords')
print(tokens)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\motta\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\motta\AppData\Roaming\nltk_data...

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[nltk_data]   Unzipping corpora\stopwords.zip.

In [11]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
tokens = [w for w in tokens if not w in stop_words]
print(tokens)

['The', 'quick', 'brown', 'fox', 'jumps', 'lazy', 'dog']

In [12]:
#NLTK provides several stemmer interfaces like Porter stemmer, #Lancaster Stemmer, Snowball Stemmer
from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()
stems = []
for t in tokens:    
    stems.append(porter.stem(t))
print(stems)

['the', 'quick', 'brown', 'fox', 'jump', 'lazi', 'dog']

In [23]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

mylist = df['description'].to_list()

vec = TfidfVectorizer()
tf_idf =  vec.fit_transform(mylist)
print(pd.DataFrame(tf_idf.toarray(), columns=vec.get_feature_names()))


'''
Document1 = 'hi this day is very beautiful'
TF('beautiful',Document1)# = 2/10
IDF('beautiful')#=log(2/2)# = 0
TF('day',Document1)# = 5/10,  
IDF('day')#=log(2/1) = 0.30

TF-IDF('beautiful', Document1)# = (2/10)*0 = 0
TF-IDF('day', Document1)# = (5/10)*0.30 = 0.15
'''

ValueError: np.nan is an invalid document, expected byte or unicode string.

In [42]:
mylist = df['description'].to_list()

type(mylist)

list

In [26]:
import re

pattern=r'(?i)\b((?:[a-z][\w-]+:(?:/{1,3}|[a-z0-9%])|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:\'".,<>?¬´¬ª‚Äú‚Äù‚Äò‚Äô]))';


Clean_Data = []


def RemoveURL(text):
    match = re.findall(pattern, text)
    
    for m in match:
        url = m[0]
        text = text.replace(url, '')
        
    Clean_Data.append(text)
    
    

for test in mylist:
    RemoveURL(test)

TypeError: expected string or bytes-like object

In [43]:
import pandas as pd
import numpy as np
import matplotlib as plt
import re

df = pd.read_csv('vehicles.csv')
df = df.sample(frac=0.15)

df = df[['description' , 'model']]

In [44]:
df = df.dropna()
#mylist = df['description'].to_list()

In [45]:
df['description'] = df['description'].str.lower()
df['model'] = df['model'].str.lower()

In [34]:
mylist[100]

'2019 Chevrolet Express Cargo Van RWD 2500 135"Clean Title with a Powerful and Reliable 4.3L Engine  Available for test drive at Moates Auto Xchange 334-445-1460  VIN: 1GCWGAFP4K1214373 Condition: UsedExterior: White Interior:  Mileage: 69,125 Transmission:Automatic Engine: 4.3L Stock# P2217   Features Included (5BV) Upfitter electrical or (PCH) Hotel Shuttle Package.)(5BV) Upfitter electrical provisions or (LWN) 2.8L Duramax Turbo-Diesel engine.)(5BV) Upfitter electrical provisions or (ZP6) 5-passenger Express Crew Van.)(9L7) Wiring junction block equipment accessory(C69) rear air conditioning105 amps (Not available with (Y3H) Paratransit Package298 lb-ft of torque [404 Nm] @ 3900 rpm) (Reference the Engine/Axle page for availability.)3 on the engine console cover3.42 ratio (Reference the Engine/Axle page for availability.)4-wheel antilock4-wheel disc4.3L V6 with Direct Injection and Variable Valve Timing60/40 split600 cold-cranking amps8600 lbs. (3901 kg) (Reference the Engine/Axle page for availability.)active OnStar service and data plan. Data plans provided by AT&T. Visit onstar for details and system limitations.)all windowsAlternatoraluminized stainless-steel muffler and tailpipeanalog with speedometerAssist handlesBatteryBlackblackwallBodyBrake/transmission shift interlockBrakesBumpersCargo tie-downs 6 D-ring attachments on cargo area floor (Not available with (Y3H) Paratransit PackageChevrolet 4G LTE and available built-in Wi-Fi hotspot offers a fast and reliable Internet connection for up to 7 devices; includes data trial for 1 month or 3GB (whichever comes first) (Included and only available with (UE1) OnStar. Available Wi-Fi requires compatible mobile deviceChevrolet Connected Access with 10 years of standard connectivity which enables services such asChevrolet Smart DriverclothConsoleCoolingCup holdersDaytime Running LampsDealer Maintenance NotificationDefoggerDoorDoor beamsdriver and front passengerdriver and right-front passengerdual halogen compositeEngineengine cover with open storage binengine temperature and oil pressureExhaustexternal (Not available with (LWN) 2.8L Duramax Turbo-Diesel engine.)external engine oil cooler (Not available with (LWN) 2.8L Duamax Turbo-Diesel engine.)Floor coveringfor automatic transmissionsFramefront and rear painted Black with step-padfront independent with coil springs and stabilizer barfront intermittent wet-arm with pulse washersfront LT245/75R16E all-seasonfuel levelFuel tank capacityfull-length Black rubberized-vinyl (Not available with (RFM) rear floor covering deletefull-length box ladder-typeGlassGVWRheadlamp on and key-in-ignitionHeadlampsHeadlinerHill Start Assisthinged rear side doors and hinged rear doors (Not available with (Y3H) Paratransit Package or (5BV) Upfitter electrical provisions.)includes aluminum block construction (276 hp [206 kW] @ 5200 rpmincludes defeat switch and door handle-activated switchesinstrument panel-mountedInstrumentationinterior with 4 dome lights 1 overhead and 3 LED\'s on cross members in cargo areaLightingmaintenance-free with rundown protection and retained accessory powerMarketplace and more (Included and only available with (UE1) OnStar. Limitations apply. Not transferable. Standard connectivity available to original purchaser for ten years from the date of initial vehicle purchase for model year 2018 or newer Chevrolet vehicles. See onstar for details and further plan limitations. Connected Access does not include emergency or security services. Availability and additional services enabled by Connected Access are subject to change.)mid-frame and approximately 31 gallons (117.3L)Mirrorsodometer with trip odometerOil life monitoroutside manualover driver and passengerpaddedPASS-Key IIIpowerRear axlerear hypoid drive axle with multi-leaf springsrear LT245/75R16E all-seasonRear wheel driveside windowsSolar-Ray light-tintedStabiliTrakstandardsteel sleeve column with theft-deterrent locking featuresteel-sideSteeringSteering wheelSuspensionswing-out passenger-sideTheft-deterrent systemTiresTow/haul mode selectortraction assistance and vehicle stability enhancement systemTransmission oil coolerTrim panelsvehicleVehicle DiagnosticsVisorsvoltmeterWarning tonesWipers  ***Call to Schedule your Test Drive*** ***Trade-In Welcome*** ***Low Mileage Cars***    For any questions on this Chevrolet\xa0Express Cargo VanPlease visit our website or call\xa0334-445-1460  828 U.S. 231Ozark, AL 334-445-1460 Website:\xa0 http://www.wiregrasscars  \xa0BatchID: 44BTOHCIESID: 17287960 Updated 4/12/2021 11:15:35 PM EST'

In [46]:

pattern=r'(?i)\b((?:[a-z][\w-]+:(?:/{1,3}|[a-z0-9%])|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:\'".,<>?¬´¬ª‚Äú‚Äù‚Äò‚Äô]))';


Clean_Data = []


def RemoveURL(text):
    match = re.findall(pattern, text)
    
    for m in match:
        url = m[0]
        text = text.replace(url, '')
        
    Clean_Data.append(text)

In [55]:
for test in df['description']:
    RemoveURL(test)
description = Clean_Data

In [61]:
Clean_Data.clear()
for test in df['model']:
    RemoveURL(test)
model = Clean_Data

In [60]:
model[7]

'4 series 428i gran coupe'

In [37]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [62]:
def convert_emojis(text):
    for emot in UNICODE_EMO:
        text = re.sub(r'('+emot+')', "_".join(UNICODE_EMO[emot].replace(",","").replace(":","").split()), text)
    return text

text = "game is on üî•"
convert_emojis(text)

NameError: name 'UNICODE_EMO' is not defined